In [2]:
# imports
import pandas as pd
import numpy as np

In [5]:
# Pull in the data
file = "../data/data.csv"
df_transactions = pd.read_csv(file)
df_transactions.head()

,Customer ID,Age,Gender,Transact ID,Transact Date,Transact Time,Outlet,Outlet District,Transact Details ID,Item,Item Description,Quantity,Price,Spending
0,57618,58.0,F,183003,1/1/16,12:01:48 AM,Outlet 17,5,537557,215A,Pork Chop Noodle,1,13.94,13.94
1,57618,58.0,F,183003,1/1/16,12:01:48 AM,Outlet 17,5,537555,34,Fish & Chips,1,13.94,13.94
2,54234,40.0,NaN,183005,1/1/16,12:03:32 AM,Outlet 11,27,537565,552,Mango Pomelo,1,8.36,8.36
3,54234,40.0,NaN,183005,1/1/16,12:03:32 AM,Outlet 11,27,537564,215B,Pork Chop Bee Hoon,1,13.94,13.94
4,73173,30.0,NaN,183010,1/1/16,12:14:51 AM,Outlet 14,16,537571,127,Borsch Soup,2,5.94,11.88

In [7]:
mean = 38
sd = 11
np.norm

df_transactions.ix[df_transactions["Age"] <= 5].

,Customer ID,Age,Gender,Transact ID,Transact Date,Transact Time,Outlet,Outlet District,Transact Details ID,Item,Item Description,Quantity,Price,Spending
93,54582,-182.0,NaN,183095,1/1/16,11:00:16 AM,Outlet 11,27,537806,902,Cent Egg Pork Por,1,10.30,10.30
94,54582,-182.0,NaN,183095,1/1/16,11:00:16 AM,Outlet 11,27,537804,713,Hot Coffee-Tea,1,4.24,4.24
95,54582,-182.0,NaN,183095,1/1/16,11:00:16 AM,Outlet 11,27,537805,715,Milk Tea,1,4.24,4.24
517,62739,-5943.0,NaN,184017,1/1/16,7:50:15 PM,Outlet 20,19,540762,797,RAINBOW SPRITE,1,5.94,5.94
518,62739,-5943.0,NaN,184017,1/1/16,7:50:15 PM,Outlet 20,19,540763,808,Chicken Dry Curry Ramen,1,13.94,13.94
519,62739,-5943.0,NaN,184017,1/1/16,7:50:15 PM,Outlet 20,19,540764,909,Sliced Empress Congee,1,12.00,12.00
1738,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547664,701,Chinese Tea,1,2.06,2.06
1739,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547666,776,Watermelon Ice,1,7.15,7.15
1740,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547662,305,F.Fries Curry Mayo,1,5.94,5.94
1741,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547660,121,Egg & Ham Sandwich,1,4.73,4.73
1742,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547665,715,Milk Tea,1,4.24,4.24
1743,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547655,1,Cold / Iced Water,3,0.73,2.19
1744,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547661,251,Yao Ma Tei Chix Rice,1,13.94,13.94
1745,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547659,109,French Toast,2,5.94,11.88
1746,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547657,34,Fish & Chips,1,13.94,13.94
1747,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547663,555,Red Bean Snow,1,9.09,9.09
1748,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547658,68,Pork Ribs BH,1,13.94,13.94
1749,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547656,2,Warm Water,2,0.73,1.46
1750,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547667,780,Iced Grass Jelly,1,3.52,3.52
3177,70958,-40.0,NaN,189138,7/1/16,2:39:41 PM,Outlet 11,27,555924,418,BBQ Pork Bun,1,5.45,5.45
3178,70958,-40.0,NaN,189138,7/1/16,2:39:41 PM,Outlet 11,27,555926,859,SOY MILK WITH GLUTINOUS BALL,2,6.67,13.34
3179,70958,-40.0,NaN,189138,7/1/16,2:39:41 PM,Outlet 11,27,555923,67,Signature Fried Noodles,1,13.94,13.94
3180,70958,-40.0,NaN,189138,7/1/16,2:39:41 PM,Outlet 11,27,555922,62,Seafood Sauteed HF,1,12.73,12.73
3506,63750,-40.0,NaN,189767,8/1/16,12:23:34 PM,Outlet 21,18,557731,78,SPECIAL STIR FRIED BEE HOON,1,12.73,12.73
3507,63750,-40.0,NaN,189767,8/1/16,12:23:34 PM,Outlet 21,18,557730,66,Fish Egg Sauteed HF,1,12.73,12.73
3508,63750,-40.0,NaN,189767,8/1/16,12:23:34 PM,Outlet 21,18,557732,715,Milk Tea,1,4.24,4.24
5272,54432,-182.0,NaN,193131,10/1/16,7:30:18 PM,Outlet 8,22,567422,411,Pan Fried Dumpling,1,7.88,7.88
5273,54432,-182.0,NaN,193131,10/1/16,7:30:18 PM,Outlet 8,22,567421,67,Signature Fried Noodles,1,13.94,13.94
9525,65554,-182.0,F,202677,21/1/16,2:03:35 PM,Outlet 5,18,593844,74,Wanton Soup Noodle,1,10.79,10.79
9526,65554,-182.0,F,202677,21/1/16,2:03:35 PM,Outlet 5,18,593848,855,AlmondCream Glutinous Ball,1,6.67,6.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
551678,160316,0.0,NaN,598895,29/12/16,9:41:35 PM,Outlet 2,3,1716948,401,Siew Mai,1,5.45,5.45
551679,160316,0.0,NaN,598895,29/12/16,9:41:35 PM,Outlet 2,3,1716947,216B,Chicken Papaya Soup Beehoon,1,13.94,13.94
551680,160316,0.0,NaN,598895,29/12/16,9:41:35 PM,Outlet 2,3,1716946,1292,Luncheon Meat Fries,1,5.94,5.94
551681,160316,0.0,NaN,598895,29/12/16,9:41:35 PM,Outlet 2,3,1716950,780,Iced Grass Jelly,1,3.52,3.52
552373,70958,-40.0,NaN,599393,30/12/16,2:52:40 PM,Outlet 11,27,1718247,66,Fish Egg Sauteed HF,1,12.73,12.73
552374,70958,-40.0,NaN,599393,30/12/16,2:52:40 PM,Outlet 11,27,1718248,404,Custard Bun,1,5.94,5.94
552375,70958,-40.0,NaN,599393,30/12/16,2:52:40 PM,Outlet 11,27,1718249,413,SPRING ROLL,1,5.94,5.94
552376,70958,-40.0,NaN,599393,30/12/16,2:52:40 PM,Outlet 11,27,1718246,21,Chicken Chop Cream Spag,1,14.42,14.42
552377,70958,-40.0,NaN,599393,30/12/16,2:52:40 PM,Outlet 11,27,1718252,854,Sesame Cream Glutinous Ball,1,6.67,6.67
552378,70958,-40.0,NaN,599393,30/12/16,2:52:40 PM,Outlet 11,27,1718250,704,Fresh Soy Milk,1,3.52,3.52
552379,70958,-40.0,NaN,599393,30/12/16,2:52:40 PM,Outlet 11,27,1718251,769,Iced Lemon Tea,1,5.94,5.94
554089,189818,-31.0,NaN,600385,31/12/16,11:47:02 AM,Outlet 1,20,1721105,411,Pan Fried Dumpling,1,7.88,7.88
554130,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721172,401,Siew Mai,1,5.45,5.45
554131,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721176,808,Chicken Dry Curry Ramen,1,13.94,13.94
554132,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721177,909,Sliced Empress Congee,1,12.00,12.00
554133,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721171,290,Ham Egg Toast N French Fries,1,8.36,8.36
554134,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721175,751,Iced Milk Tea,1,4.73,4.73
554135,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721173,705,Kopi,1,2.06,2.06
554136,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721174,715,Milk Tea,1,4.24,4.24
554737,188856,-43.0,NaN,600773,31/12/16,2:16:38 PM,Outlet 17,5,1722160,552,Mango Pomelo,1,8.36,8.36
554738,188856,-43.0,NaN,600773,31/12/16,2:16:38 PM,Outlet 17,5,1722161,854,Sesame Cream Glutinous Ball,2,6.67,13.34
554739,188856,-43.0,NaN,600773,31/12/16,2:16:38 PM,Outlet 17,5,1722162,857,Home-Made Cold Beancurd,1,3.52,3.52
555304,200337,-30.0,NaN,601120,31/12/16,5:59:17 PM,Outlet 20,19,1723152,809,F'mented Pork Dry Curry Ramen,1,13.94,13.94
555305,200337,-30.0,NaN,601120,31/12/16,5:59:17 PM,Outlet 20,19,1723151,808,Chicken Dry Curry Ramen,1,13.94,13.94
555306,200337,-30.0,NaN,601120,31/12/16,5:59:17 PM,Outlet 20,19,1723150,705,Kopi,1,2.06,2.06
555736,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723848,450,Chicken In A Basket(3PCS),1,13.94,13.94
555737,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723849,546,Diced Pork Fried Rice,1,12.73,12.73
555738,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723847,403,Beancurd Skin Prawn Roll,1,6.67,6.67
555739,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723850,751,Iced Milk Tea,1,4.73,4.73
555740,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723851,767,Iced Lychee Tea,1,6.67,6.67

In [97]:
df_customer = pd.DataFrame()
df_customer["customerID"] = df_transactions["Customer ID"]
df_customer["age"] = df_transactions["Age"]
df_customer["gender"] = df_transactions["Gender"]

In [102]:
print("Customer table size ", len(df_customer.index))
df_customer = df_customer.drop_duplicates(keep='first')
print("Customer table size after removing duplicates ", len(df_customer.index))

Customer table size  556580
Customer table size after removing duplicates  44414

In [103]:
df_customer['age'].min()
df_customer['age'].max()

116.0

In [104]:
df_customer['age'] = pd.to_numeric(df_customer['age'])
df_customer['age'] = df_customer['age'].fillna(value=0)
df_customer['gender'] = df_customer['gender'].fillna(value="NA")

In [105]:
mean = df_customer["age"].ix[(df_customer["age"] >= 6) & (df_customer["age"] <= 88)].mean()
sd = df_customer["age"].ix[(df_customer["age"] >= 6) & (df_customer["age"] <= 88)].std()
print("Mean: ", mean, " SD: ", sd)

Mean:  37.3733306078  SD:  11.9079709467

In [109]:

def assignAge(d):
    while(d < 6 or d > 88):
        d = np.random.normal(mean, sd, 1)[0]
    return int(d)
        
df_customer["age"].apply(assignAge)

0         58
2         40
4         30
9         57
17        39
20        58
23        32
27        30
34        27
37        31
44        31
54        31
58        35
63        45
68        48
74        59
82        60
87        26
89        37
93        39
96        35
99        38
104       38
108       58
116       37
123       47
127       34
135       25
137       48
144       45
          ..
555998    26
556009    44
556050    44
556073    52
556075    50
556110    18
556124    34
556148    29
556187    35
556188    38
556192    53
556201    20
556203    22
556224    27
556227    24
556253    36
556294    58
556298    40
556299    22
556326    41
556335    63
556389    32
556399    21
556406    43
556415    18
556419    47
556450    42
556490    26
556525    24
556537    26
Name: age, dtype: int64

In [111]:
df_customer.ix[df_customer["customerID"] == 66515]

       customerID   age gender
23291       66515  28.0     NA

In [110]:
np.random.normal(mean, sd, 1)[0]

30.320286207421908

In [ ]:
def age_group(d):
    if d <= 21:
        return "YOUTH"
    elif d <= 50 && d > 21:
        return "ADULT"
    else return "SENIOR"

df_customer['age_group'].apply()

In [113]:
df_transactions.groupby('Transact ID')['Spending'].sum()

Transact ID
183003     27.88
183005     22.30
183010     60.73
183017     71.03
183020     12.24
183028     29.69
183030     25.94
183032     41.33
183034     37.45
183048    152.85
183056     25.82
183058     70.78
183060     35.39
183062     20.85
183066     20.96
183070     37.81
183076     40.12
183082     25.94
183086      4.73
183092     16.61
183093     17.45
183095     18.78
183104     39.15
183113     14.91
183116     56.60
183127     37.58
183146     33.46
183152     86.66
183160     34.91
183163      5.94
           ...
601782     55.76
601785     34.43
601789     29.94
601790     21.82
601791    196.47
601793     31.27
601795     19.39
601796     52.85
601800     62.18
601805     15.03
601815     34.91
601816     22.55
601817     50.79
601819     25.34
601821     40.86
601825      6.67
601827     23.89
601828     84.12
601830     21.45
601835     12.00
601837     41.45
601839      5.94
601842      9.82
601843     48.98
601849     11.88
601850     25.95
601852     37.69
601854      8.49
601858     40.00
601860     60.85
Name: Spending, dtype: float64