In [98]:
# imports
import pandas as pd
import numpy as np
from datetime import datetime

In [61]:
# Pull in the data
file = "../data/data.csv"
df_transactions = pd.read_csv(file)
df_transactions.head()

,Customer ID,Age,Gender,Transact ID,Transact Date,Transact Time,Outlet,Outlet District,Transact Details ID,Item,Item Description,Quantity,Price,Spending
0,57618,58.0,F,183003,1/1/16,12:01:48 AM,Outlet 17,5,537557,215A,Pork Chop Noodle,1,13.94,13.94
1,57618,58.0,F,183003,1/1/16,12:01:48 AM,Outlet 17,5,537555,34,Fish & Chips,1,13.94,13.94
2,54234,40.0,NaN,183005,1/1/16,12:03:32 AM,Outlet 11,27,537565,552,Mango Pomelo,1,8.36,8.36
3,54234,40.0,NaN,183005,1/1/16,12:03:32 AM,Outlet 11,27,537564,215B,Pork Chop Bee Hoon,1,13.94,13.94
4,73173,30.0,NaN,183010,1/1/16,12:14:51 AM,Outlet 14,16,537571,127,Borsch Soup,2,5.94,11.88

In [25]:
mean = 38
sd = 11

,Customer ID,Age,Gender,Transact ID,Transact Date,Transact Time,Outlet,Outlet District,Transact Details ID,Item,Item Description,Quantity,Price,Spending
93,54582,-182.0,NaN,183095,1/1/16,11:00:16 AM,Outlet 11,27,537806,902,Cent Egg Pork Por,1,10.30,10.30
94,54582,-182.0,NaN,183095,1/1/16,11:00:16 AM,Outlet 11,27,537804,713,Hot Coffee-Tea,1,4.24,4.24
95,54582,-182.0,NaN,183095,1/1/16,11:00:16 AM,Outlet 11,27,537805,715,Milk Tea,1,4.24,4.24
517,62739,-5943.0,NaN,184017,1/1/16,7:50:15 PM,Outlet 20,19,540762,797,RAINBOW SPRITE,1,5.94,5.94
518,62739,-5943.0,NaN,184017,1/1/16,7:50:15 PM,Outlet 20,19,540763,808,Chicken Dry Curry Ramen,1,13.94,13.94
519,62739,-5943.0,NaN,184017,1/1/16,7:50:15 PM,Outlet 20,19,540764,909,Sliced Empress Congee,1,12.00,12.00
1738,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547664,701,Chinese Tea,1,2.06,2.06
1739,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547666,776,Watermelon Ice,1,7.15,7.15
1740,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547662,305,F.Fries Curry Mayo,1,5.94,5.94
1741,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547660,121,Egg & Ham Sandwich,1,4.73,4.73
1742,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547665,715,Milk Tea,1,4.24,4.24
1743,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547655,1,Cold / Iced Water,3,0.73,2.19
1744,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547661,251,Yao Ma Tei Chix Rice,1,13.94,13.94
1745,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547659,109,French Toast,2,5.94,11.88
1746,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547657,34,Fish & Chips,1,13.94,13.94
1747,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547663,555,Red Bean Snow,1,9.09,9.09
1748,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547658,68,Pork Ribs BH,1,13.94,13.94
1749,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547656,2,Warm Water,2,0.73,1.46
1750,54426,-182.0,NaN,186250,3/1/16,6:16:37 PM,Outlet 11,27,547667,780,Iced Grass Jelly,1,3.52,3.52
2132,59270,1.0,NaN,186807,4/1/16,1:16:36 PM,Outlet 13,9,549433,552,Mango Pomelo,1,8.36,8.36
2133,59270,1.0,NaN,186807,4/1/16,1:16:36 PM,Outlet 13,9,549429,20,Baked Pork Chop Cream Spag,1,15.15,15.15
2134,59270,1.0,NaN,186807,4/1/16,1:16:36 PM,Outlet 13,9,549428,2,Warm Water,1,0.73,0.73
2135,59270,1.0,NaN,186807,4/1/16,1:16:36 PM,Outlet 13,9,549431,1110,Chix Wing Home-made Sour 'N' Spicy Powde,1,5.94,5.94
2136,59270,1.0,NaN,186807,4/1/16,1:16:36 PM,Outlet 13,9,549430,41,BAKED RICE EBI,1,15.15,15.15
2137,59270,1.0,NaN,186807,4/1/16,1:16:36 PM,Outlet 13,9,549434,767,Iced Lychee Tea,1,6.67,6.67
2152,59270,1.0,NaN,186871,4/1/16,1:56:45 PM,Outlet 13,9,549656,2,Warm Water,1,0.73,0.73
2153,59270,1.0,NaN,186871,4/1/16,1:56:45 PM,Outlet 13,9,549659,1110,Chix Wing Home-made Sour 'N' Spicy Powde,1,5.94,5.94
2154,59270,1.0,NaN,186871,4/1/16,1:56:45 PM,Outlet 13,9,549662,767,Iced Lychee Tea,1,6.67,6.67
2155,59270,1.0,NaN,186871,4/1/16,1:56:45 PM,Outlet 13,9,549657,20,Baked Pork Chop Cream Spag,1,15.15,15.15
2156,59270,1.0,NaN,186871,4/1/16,1:56:45 PM,Outlet 13,9,549661,552,Mango Pomelo,1,8.36,8.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553807,156821,4.0,NaN,600242,30/12/16,10:59:58 PM,Outlet 17,5,1720660,863,Beancurd w Mango,1,4.73,4.73
553808,156821,4.0,NaN,600242,30/12/16,10:59:58 PM,Outlet 17,5,1720662,TAKEAWAY,TAKEAWAY,1,0.00,0.00
554089,189818,-31.0,NaN,600385,31/12/16,11:47:02 AM,Outlet 1,20,1721105,411,Pan Fried Dumpling,1,7.88,7.88
554130,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721172,401,Siew Mai,1,5.45,5.45
554131,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721176,808,Chicken Dry Curry Ramen,1,13.94,13.94
554132,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721177,909,Sliced Empress Congee,1,12.00,12.00
554133,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721171,290,Ham Egg Toast N French Fries,1,8.36,8.36
554134,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721175,751,Iced Milk Tea,1,4.73,4.73
554135,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721173,705,Kopi,1,2.06,2.06
554136,201520,-40.0,NaN,600426,31/12/16,12:10:40 PM,Outlet 6,22,1721174,715,Milk Tea,1,4.24,4.24
554737,188856,-43.0,NaN,600773,31/12/16,2:16:38 PM,Outlet 17,5,1722160,552,Mango Pomelo,1,8.36,8.36
554738,188856,-43.0,NaN,600773,31/12/16,2:16:38 PM,Outlet 17,5,1722161,854,Sesame Cream Glutinous Ball,2,6.67,13.34
554739,188856,-43.0,NaN,600773,31/12/16,2:16:38 PM,Outlet 17,5,1722162,857,Home-Made Cold Beancurd,1,3.52,3.52
554962,58301,1.0,NaN,600906,31/12/16,3:05:29 PM,Outlet 18,23,1722533,549,Signature Fried Rice,2,13.94,27.88
554963,58301,1.0,NaN,600906,31/12/16,3:05:29 PM,Outlet 18,23,1722532,412,Har Gao,1,5.94,5.94
554964,58301,1.0,NaN,600906,31/12/16,3:05:29 PM,Outlet 18,23,1722531,67,Signature Fried Noodles,1,13.94,13.94
555203,72333,3.0,NaN,601054,31/12/16,4:36:06 PM,Outlet 12,5,1722983,501,LuncheonMeatSoup Ndl,1,10.67,10.67
555204,72333,3.0,NaN,601054,31/12/16,4:36:06 PM,Outlet 12,5,1722990,TAKEAWAY,TAKEAWAY,1,0.00,0.00
555205,72333,3.0,NaN,601054,31/12/16,4:36:06 PM,Outlet 12,5,1722982,106,Condensed & Peanut TT,1,5.94,5.94
555206,72333,3.0,NaN,601054,31/12/16,4:36:06 PM,Outlet 12,5,1722984,545,Chicken Floss Egg Fried Rice,1,12.73,12.73
555207,72333,3.0,NaN,601054,31/12/16,4:36:06 PM,Outlet 12,5,1722986,767,Iced Lychee Tea,1,6.67,6.67
555304,200337,-30.0,NaN,601120,31/12/16,5:59:17 PM,Outlet 20,19,1723152,809,F'mented Pork Dry Curry Ramen,1,13.94,13.94
555305,200337,-30.0,NaN,601120,31/12/16,5:59:17 PM,Outlet 20,19,1723151,808,Chicken Dry Curry Ramen,1,13.94,13.94
555306,200337,-30.0,NaN,601120,31/12/16,5:59:17 PM,Outlet 20,19,1723150,705,Kopi,1,2.06,2.06
555736,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723848,450,Chicken In A Basket(3PCS),1,13.94,13.94
555737,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723849,546,Diced Pork Fried Rice,1,12.73,12.73
555738,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723847,403,Beancurd Skin Prawn Roll,1,6.67,6.67
555739,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723850,751,Iced Milk Tea,1,4.73,4.73
555740,183525,0.0,NaN,601375,31/12/16,7:51:40 PM,Outlet 1,20,1723851,767,Iced Lychee Tea,1,6.67,6.67
555976,175797,1.0,NaN,601500,31/12/16,8:33:01 PM,Outlet 17,5,1724235,203,CURRY BEEF BRISKET HOT POT WITH RICE,1,13.94,13.94

In [26]:
df_customer = pd.DataFrame()
df_customer["customerID"] = df_transactions["Customer ID"]
df_customer["age"] = df_transactions["Age"]
df_customer["gender"] = df_transactions["Gender"]

In [27]:
print("Customer table size ", len(df_customer.index))
df_customer = df_customer.drop_duplicates(keep='first')
print("Customer table size after removing duplicates ", len(df_customer.index))

Customer table size  556580
Customer table size after removing duplicates  44414

In [28]:
df_customer['age'].min()
df_customer['age'].max()

116.0

In [29]:
df_customer['age'] = pd.to_numeric(df_customer['age'])
df_customer['age'] = df_customer['age'].fillna(value=0)
df_customer['gender'] = df_customer['gender'].fillna(value="NA")

In [30]:
mean = df_customer["age"].ix[(df_customer["age"] >= 6) & (df_customer["age"] <= 88)].mean()
sd = df_customer["age"].ix[(df_customer["age"] >= 6) & (df_customer["age"] <= 88)].std()
print("Mean: ", mean, " SD: ", sd)

Mean:  37.3733306078  SD:  11.9079709467

In [69]:

def assignAge(d):
    while(d < 6 or d > 88):
        d = np.random.normal(mean, sd, 1)[0]
    return int(d)
        
df_customer["age"] = df_customer["age"].apply(assignAge)

In [32]:
df_customer.ix[df_customer["customerID"] == 66515]

       customerID   age gender
23291       66515  28.0     NA

In [33]:
np.random.normal(mean, sd, 1)[0]

30.608476108301275

In [70]:
def age_group(d):
    if d <= 18:
        return "YOUTH"
    elif d <= 35 and d > 18:
        return "ADULT"
    elif d <= 50 and d > 35:
        return "MIDDLE-AGED"
    else:
        return "SENIOR"

df_customer['age_group'] = df_customer['age'].apply(age_group)

In [ ]:
df_transactions.groupby('Transact ID')['Spending'].sum()

In [38]:
del df_customer['gender']

In [80]:
df_customer.to_csv("../data/customer.csv")

In [71]:
df_customer

       customerID  age    age_group
0           57618   58       SENIOR
1           54234   40  MIDDLE-AGED
2           73173   30        ADULT
3           73083   57       SENIOR
4           56459   39  MIDDLE-AGED
5           58559   58       SENIOR
6           58920   32        ADULT
7           51539   30        ADULT
8           58537   27        ADULT
9           58533   31        ADULT
10          74251   31        ADULT
11          59685   31        ADULT
12          54242   35        ADULT
13          52673   45  MIDDLE-AGED
14          79349   48  MIDDLE-AGED
15          68332   59       SENIOR
16          52749   60       SENIOR
17          62819   26        ADULT
18          59835   37  MIDDLE-AGED
19          54582   39  MIDDLE-AGED
20         154722   35        ADULT
21          68370   38  MIDDLE-AGED
22          71564   38  MIDDLE-AGED
23          50972   58       SENIOR
24          64420   37  MIDDLE-AGED
25          59632   47  MIDDLE-AGED
26          72495   34        ADULT
27          57821   25        ADULT
28          56209   48  MIDDLE-AGED
29          53029   45  MIDDLE-AGED
...           ...  ...          ...
44384      204738   26        ADULT
44385      201566   44  MIDDLE-AGED
44386      205713   44  MIDDLE-AGED
44387      205714   52       SENIOR
44388      199111   50  MIDDLE-AGED
44389      195554   18        YOUTH
44390      202437   34        ADULT
44391      190981   29        ADULT
44392      200918   35        ADULT
44393      195555   38  MIDDLE-AGED
44394      204739   53       SENIOR
44395      205715   20        ADULT
44396      203269   22        ADULT
44397      205717   27        ADULT
44398       74277   24        ADULT
44399      200919   36  MIDDLE-AGED
44400      200917   58       SENIOR
44401      200920   40  MIDDLE-AGED
44402      201000   22        ADULT
44403      194800   41  MIDDLE-AGED
44404      205716   63       SENIOR
44405      205720   32        ADULT
44406      192094   21        ADULT
44407      197313   43  MIDDLE-AGED
44408      201002   18        YOUTH
44409      200914   47  MIDDLE-AGED
44410      205719   42  MIDDLE-AGED
44411      201001   26        ADULT
44412      201004   24        ADULT
44413      195556   26        ADULT

[44414 rows x 3 columns]

In [62]:
# Rename values in transactions
# df_transactions.head()
df_transactions["Transact_DateTime"] = df_transactions["Transact Date"] + " " + df_transactions["Transact Time"]
# Merge transactions and df_customer

In [64]:
df_transactions["Transact_DateTime_"] = pd.to_datetime(df_transactions["Transact_DateTime"],
                                                     dayfirst=True
                                                     )

In [72]:
del df_transactions["Transact_DateTime"]
df_transactions = df_transactions.rename(columns={"Transact_DateTime_":"Transact_DateTime"})

In [175]:
df_merged = df_transactions.merge(df_customer, how="left",left_on="Customer ID", right_on='customerID')

In [94]:
len(df_merged.index)

556580

In [176]:
del df_merged["Customer ID"]
del df_merged["Age"]
del df_merged["Gender"]

In [95]:
df_merged.to_csv('../data/merged.csv')

In [177]:
print(df_merged.columns)

Index(['Transact ID', 'Outlet', 'Outlet District', 'Transact Details ID',
       'Item', 'Item Description', 'Quantity', 'Price', 'Spending',
       'Transact_DateTime', 'customerID', 'age', 'age_group'],
      dtype='object')

In [178]:
# Time of day function
def tod(d):
    today6am = datetime(12,1,1,6,0,0).time()
    today12pm = datetime(12,1,1,12,0,0).time()
    today6pm = datetime(12,1,1,18,0,0).time()
    today12am = datetime(12,1,1,23,59,59).time()
    
    if d.time() > today6am and d.time() < today12pm: # greater than 6am and less than 12pm:
        return "BREAKFAST"
    elif d.time() >= today12pm and d.time() < today6pm: # greater than 12pm and less than 6pm
        return "LUNCH"
    elif d.time() >= today6pm and d.time() <= today12am:
#     else:
        return "DINNER"
    else:
        return "SUPPER"
    
df_merged["time_of_day"] = df_merged["Transact_DateTime"].apply(tod)

In [179]:
# Number of unique transactions in each segment of the day.
df_merged.groupby("time_of_day")['Transact ID'].nunique()

time_of_day
BREAKFAST     4021
DINNER       72760
LUNCH        55767
SUPPER        3901
Name: Transact ID, dtype: int64

In [125]:
print(df_merged.columns)

Index(['Transact ID', 'Outlet', 'Outlet District', 'Transact Details ID',
       'Item', 'Item Description', 'Quantity', 'Price', 'Spending',
       'Transact_DateTime', 'customerID', 'age', 'age_group', 'time_of_day'],
      dtype='object')

In [194]:
df_derivedItems = pd.read_csv("../data/derived_items.csv")

In [195]:
df_derivedItems.head()

  Item       Item Description Item Type      Item Category
0    1      Cold / Iced Water     Drink         Drink,Cold
1    2             Warm Water     Drink          Drink,Hot
2   11  Chs Bk Pork Chop Spag      Main  Spaghetti,Chicken
3   14   BP Chicken Chop Spag      Main  Spaghetti,Chicken
4   17       Fish Fillet Spag      Main     Spaghetti,Fish

In [212]:
df_merged['Item'] = df_merged['Item'].astype(str)
df_merged['Item'] = df_merged['Item'].str.strip()
df_derivedItems['Item'] = df_derivedItems['Item'].astype(str)
# del df_merged['Item Description']

In [197]:
print(len(df_merged.index))
print(len(df_derivedItems.index))

556580
162

In [190]:
df_merged["Item"].dtype

dtype('O')

In [191]:
df_derivedItems['Item'].dtype

dtype('O')

In [213]:
df_merged_ = pd.merge(df_merged,df_derivedItems, 'left', 'Item')

In [202]:
len(df_merged_.index)

556580

In [207]:
# Creating profiles
df_merged.groupby(['age_group','time_of_day'])

In [222]:
df_merged_.isnull().any()

Transact ID            False
Outlet                 False
Outlet District        False
Transact Details ID    False
Item                   False
Item Description_x     False
Quantity               False
Price                  False
Spending               False
Transact_DateTime      False
customerID             False
age                    False
age_group              False
time_of_day            False
Item Description_y     False
Item Type              False
Item Category          False
dtype: bool

In [232]:
df_grouped = df_merged_.groupby(['Transact ID','Item Type']).size()

In [229]:
df_merged_.to_csv('../data/merged.csv')

In [ ]:
mainWeight = 0.3
drinksWeight = 0.3
sidesWeight = 0.2
dessertWeight = 0.2

def noPax(d):

In [242]:
test = {(183003, 'Main'): 2}
test[,'Main']

SyntaxError: invalid syntax (<ipython-input-242-673486eceb88>, line 2)

In [255]:
for transaction, subframe in df_grouped.head().groupby(level=0):
    temp_dict = subframe.to_dict()
    new_dict = {}
    for k1,k2 in temp_dict:
        val = temp_dict[(k1,k2)]
        new_dict[k2] = val

{(183003, 'Main'): 2}
{'Main': 2}
{(183005, 'Main'): 1, (183005, 'Dessert'): 1}
{'Main': 1, 'Dessert': 1}
{(183010, 'Side'): 4, (183010, 'Main'): 1}
{'Side': 4, 'Main': 1}